
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
	margin: 0;
	padding: 0;
}

html {
	display: block;
	margin: 0;
	padding: 0;
	background-color: black;
	color: purple;
	font-family: 'Indie Flower', cursive;
}

body {
	margin: 0;
	padding: 0;
}

#relative {
	padding-top: 1%;
	display: block;
}

.toggleIcon {
	display: none;
}

.topnav {
	font-family: 'Lobster', cursive;
	font-weight: bold;
	font-size: 30px;
	margin: 0;
	display: block;
	padding: 1%;
}

.topnav a, ul{
	text-decoration: none;
	list-style-type: none;
	vertical-align: text-top;
	margin-right: 1%;
	color: rgba(100,100,255,1);
}

.topnav a:hover {
	color: rgb(200,0,0);
}

#container {
	width: 20%;
	height: auto;
	margin-left: 40%;
}

@keyframes slider {
	0% {
		left: 0;
	}

	20% {
		left: 0;	
	}
	
	25% {
		left: -100%;
	}

	45% {
		left: -100%;	
	}

	50% {
		left: -200%;
	}

	70% {
		left: -200%;
	}

	75% {
		left: -300%;
	}

	95% {
		left: -300%;
	}

	100% {
		left: -400%;
	}
}

#slider {
	overflow: hidden;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}

#homeInfo {
	line-height: 200%;
}
#homeInfo h1 {
	margin-bottom: 0;
}
#homeInfo h2 {
	margin: 0;
}

#about {
	margin-left: 20%;
	margin-right: 20%;
	font-size: 170%;
	font-weight: bold;
	text-align: justify;
}

#portfolio {
	width: 100%;
	height: auto;
}
.portfolioImage {
	width: auto;
	height: auto;
	margin: 1%;
}
#top {
	background-color: white;
	padding: 1%;
	margin-left: 94%;
	margin-right: 1%;
	border-radius: 50%;
	position: fixed;
	bottom: 0;
}

#contactForm {
	margin-right: 42%;
	margin-left: 38%;
	padding:22;
	font-size: 150%;
	font-weight: bold;
}
#contactForm textarea {
	vertical-align: top;
	margin-top: 1%;
}
#contactForm #button {
	margin-top: 1%;
	margin-right: 3%;
	padding: 2%;
	padding-left: 22%;
	padding-right: 22%;
	border: none;
	background-color: rgba(100,100,255,1);
	color: rgb(200,200,200);
}
#contactForm #button:hover, #button {
	margin-top: 1%;
	margin-right: 3%;
	padding: 2%;
	padding-left: 24%;
	padding-right: 24%;
	border: none;
	background-color: blue;
	color: white;
}

#social {
	font-size: 110%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  opacity: 0.9;
}
.fa:hover {
	opacity: 1;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 50%;
}
.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 50%;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 50%;
}

#photographers {
	font-size: 110%;
	font-weight: bold;
}

#brandContainer {
	color: purple;
	font-size: 110%;
	font-weight: bold;
	margin: 2%;
}
#brandContainer a{
	color: purple;
	text-decoration: none;
}

@media screen and (max-width: 600px) {

	.logo {
		width: 95%;
		height: auto;
	}

	.toggleIcon {
		display: inline-block;
	}

	.topnav{
		display: none;
		font-size: 25px;
	}

	.topnav a, ul{
		text-decoration: none;
		list-style-type: none;
		vertical-align: text-top;
		margin-right: 1%;
		padding: 1%;
		display: block;
	}

	#container {
	width: 100%;
	height: auto;
	margin: 0;
	}

	#about {
		margin-left: 5%;
		margin-right: 2%;
		font-size: 140%;
	}

	.portfolioImage {
			width: 100%;
			height: auto;
	}

	#top {
		background-color: white;
		padding: 1%;
		margin-left: 85%;
		margin-right: 10%;
		margin-bottom: 2%;
		border-radius: 50%;
		position: fixed;
		bottom: 0;
	}

	#contactForm {
		margin: 0 auto;
		font-size: 150%;
		font-weight: bold;
		width: 100%;
		text-align: center;
	}
	#contactForm #button {
		margin: 0 auto;
		margin-left: 15.5%;
		margin-top: 1%;
		text-align: center;
		padding-left: 13%;
		padding-right: 13%;
	}
	#contactForm #name {
		margin-left: 5%;
	}
	#contactForm #email {
		margin-left: 6%;
	}
}

